<div class="top-row ps-3 navbar navbar-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img style="height: 55px; top:0px; position: fixed;top: 3px;" src="https://i.imgur.com/SLU36GF.png" alt="FashionStock Logo" /></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">

                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Stock Records
                

            </NavLink>
        </div>

        <div class="nav-item px-3">

            <NavLink class="nav-link" href="products">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="nav-item px-3">

            <NavLink class="nav-link" href="addcategory">
                <span class="bi bi-bookmark-plus-fill" aria-hidden="true"></span> Add Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <span class="bi bi-pie-chart-fill" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
    </nav>
</div>

